
{% extends 'AMCE/post.html'%}

	{% block content %}
	<div class="container">
        <div class="text-center mt-5">
                <h1>Paso 1.2 Analizar esa pregunta</h1>
                <p class="text-left">Una vez planteada la Pregunta Inicial, deberás analizarla para determinar su grado de complejidad ¿Qué necesitan averiguar con exactitud para resolverla? Identifica el tema a explorar y los principales campos del conocimiento. </p>
                <div class="popup" onclick="myFunction()">Ejemplo
  				<span class="popuptext" id="myPopup">Pregunta inicial: ¿Qué es un Ciclón Tropical? <br />
                                                        Tema: Ciclones Tropicales<br />
                                                        Campos: Ciencias Naturales, geografía,
                                                    meteorología, medio ambiente</span>
				</div>
            </div>
        </div>
{% endblock%}
