
{% extends 'AMCE/post.html'%}
	{% block content %}
	<div class="container">
        <div class="text-center mt-5">
                <h1>Plantea una pregunta inicial</h1>
                <p class="text-left">Vamos a plantearnos una pregunta inicial para el tema que queremos buscar. </p>
                <div class="popup" onclick="myFunction()">Ejemplo
  				<span class="popuptext" id="myPopup">¿Qué es un Ciclón Tropical? ¿En qué fecha inició la Segunda Guerra Mundial? o ¿dónde nació Miguel 	de Cervantes Saavedra?</span>
				</div>
            </div>
        </div>
{% endblock%}
