
{% extends 'AMCE/post.html'%}

	{% block content %}
	<div class="container">
        <div class="text-center mt-5">
                <h1>Paso 1.3 Planear la investigación</h1>
                <p class="text-left">Ahora seleccionaremos, organizaremos y categorizamos los aspectos que se van a explorar durante la investigación, vamos a definir el orden en el que se hará y vamos a establecer qué se va a averiguar sobre cada aspecto seleccionado.  </p>
                <div class="popup" onclick="myFunction()">Ejemplo
  				<span class="popuptext" id="myPopup">Pregunta inicial: ¿Qué es un Ciclón Tropical? <br>
    Tema: Ciclones Tropicales<br>
    Campos: Ciencias Naturales, geografía, meteorología, medio ambiente<br>
    Aspectos relevantes:<br>
Definición de los ciclones <br>
Lugar de formación de los ciclones <br>
Trayectoria de los ciclones <br>
Condiciones para que un ciclón se forme <br>
Etapas en la formación de un ciclón<br>
</span>
				</div>
            </div>
        </div>
{% endblock%}
