
{% extends 'AMCE/post.html'%}

	{% block content %}
	<div class="container">
        <div class="text-center mt-5">
                <h1>Paso 1.4 Hacer una pregunta secundaria</h1>
                <p class="text-left">Las Preguntas Secundarias se derivan de la Pregunta Inicial y por esta razón son más concretas y cerradas. Hacen referencia a los aspectos y elementos incluidos en el Plan de Investigación, necesarios de conocer para resolver la Pregunta Inicial.  </p>
                <div class="popup" onclick="myFunction()">Ejemplo
  				<span class="popuptext" id="myPopup">¿Qué es un Ciclón Tropical y cuáles son sus componentes?<br>
                                                     ¿Cuáles son las etapas de formación de un Ciclón Tropical?<br>
                                                    ¿Cuáles son las condiciones para que se formen en ella Ciclones Tropicales?<br></span>
				</div>
            </div>
        </div>
{% endblock%}
