 <!-- Paso 1 MG Generar una pregunta inicial-->
 {% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bare - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/MG1.css'%}" rel="stylesheet" />
        <!-- CSS para el feed -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/feedStyle.css'%}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/popAlert.css'%}">
        <link rel="stylesheet" href="{% static 'css/progressBar.css'%}">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/jumbotron/">
        <!--Progress bar-->
        <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
        <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'AMCE:index' %}">AMCE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Foro</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Notificaciones</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cuenta</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Perfil</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">cerrar sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Progress bar-->
        <div class="container">
            <div class="row justify-content-center">
                    <form id="form">
                        <ul id="progressbar">
                            <li class="active" id="step1">
                                <strong>Definir el problema </strong></li>
                            <li id="step2"><strong>Buscar</strong></li>
                            <li id="step3"><strong>Analizar</strong></li>
                            <li id="step4"><strong>Sintetizar</strong></li>
                        </ul>
                    </form>
            </div>
        </div>
        <!-- Page content-->
        {% block content %}

        {% endblock content %}
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
        <button type="submit" class="" id="">Publicar</button>
        </form>

    <script>
    // Función para el popAlert
    function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
    }
    </script>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{%static 'js/MG1.js' %}"></script>
        <!--Progress bar-->
        <script src="{%static 'js/progressBar.js' %}"></script>
    </body>
</html>
